<div class="row">
  <div class="col-md-12">
    
    <table class="table table-bordered">
      <tr *ngFor="let product of products">
        <td>{{product.id}}</td>
        <td class="w-75">{{product.name}}</td>
        <td>
          <a [routerLink]="['/products', product.id]" class="btn btn-info btn-sm mr-3">Detay</a>
          <a [routerLink]="['/products', product.id, 'edit']" class="btn btn-info btn-sm">Düzenle</a>
        </td>
      </tr>
    </table>

  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <a class="btn btn-primary mr-3" routerLink="/products" [queryParams]="{page:1, order: 'bestselling'}">En çok satan ürünler</a>
    <a class="btn btn-primary mr-3" routerLink="/products" [queryParams]="{page:1, order: 'newest'}">En yeni ürünler</a>

    <button class="btn btn-primary" (click)="loadProducts()">Sayfayı Yenile</button>
  </div>
</div>





<div class="row">
  <div class="col-md-12">
    <router-outlet></router-outlet>
  </div>
</div>